.pneinline div,
.pneinline span,
.pneinline p,
.pneinline ol,
.pneinline ul,
.pneinline li,
.pneinline table,
.pneinline th,
.pneinline td,
.pneinline tbody,
.pneinline tfoot,
.pneinline thead, 
.pneinline tr, 
.pneinline blockquote 
 {
	border: 0px;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	margin: 0px;
	outline: 0px;
	padding: 0px;
	vertical-align: baseline;
	line-height: normal;
	border-spacing: 0px;
	background-color: inherit;
}

.pneinline a {
	color: #24890d;
	text-decoration: none;
}

.pneinline a:focus {
	outline: thin dotted;
}

.pneinline a:hover,
.pneinline a:active {
	outline: 0;
}

.pneinline a:active,
.pneinline a:hover {
	color: #41a62a;
}

.pneinline h1,
.pneinline h2,
.pneinline h3,
.pneinline h4,
.pneinline h5,
.pneinline h6 {
	clear: both;
	font-weight: 700;
	margin: 36px 0 12px;
}

.pneinline h1 {
	font-size: 26px;
	line-height: 1.3846153846;
}

.pneinline h2 {
	font-size: 24px;
	line-height: 1;
}

.pneinline h3 {
	font-size: 22px;
	line-height: 1.0909090909;
}

.pneinline h4 {
	font-size: 20px;
	line-height: 1.2;
}

.pneinline h5 {
	font-size: 18px;
	line-height: 1.3333333333;
}

.pneinline h6 {
	font-size: 16px;
	line-height: 1.5;
}

.pneinline address {
	font-style: italic;
	margin-bottom: 24px;
}

.pneinline abbr[title] {
	border-bottom: 1px dotted #2b2b2b;
	cursor: help;
}

.pneinline b,
.pneinline strong {
	font-weight: 700;
}

.pneinline cite,
.pneinline dfn,
.pneinline em,
.pneinline i {
	font-style: italic;
}

.pneinline mark,
.pneinline ins {
	background: #fff9c0;
	text-decoration: none;
}

.pneinline p {
	margin-bottom: 24px;
}

.pneinline code,
.pneinline kbd,
.pneinline tt,
.pneinline var,
.pneinline samp,
.pneinline pre {
	font-family: monospace, serif;
	font-size: 15px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	line-height: 1.6;
}

.pneinline pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin-bottom: 24px;
	max-width: 100%;
	overflow: auto;
	padding: 12px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.pneinline blockquote,
.pneinline q {
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
	quotes: none;
}

.pneinline blockquote:before,
.pneinline blockquote:after,
.pneinline q:before,
.pneinline q:after {
	content: "";
	content: none;
}

.pneinline blockquote {
	color: #767676;
	font-size: 19px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2631578947;
	margin-bottom: 24px;
}

.pneinline blockquote cite,
.pneinline blockquote small {
	color: #2b2b2b;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
}

.pneinline blockquote em,
.pneinline blockquote i,
.pneinline blockquote cite {
	font-style: normal;
}

.pneinline blockquote strong,
.pneinline blockquote b {
	font-weight: 400;
}

.pneinline small {
	font-size: smaller;
}

.pneinline big {
	font-size: 125%;
}

.pneinline sup,
.pneinline sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

.pneinline sup {
	bottom: 1ex;
}

.pneinline sub {
	top: .5ex;
}

.pneinline dl {
	margin-bottom: 24px;
}

.pneinline dt {
	font-weight: bold;
}

.pneinline dd {
	margin-bottom: 24px;
}

.pneinline ul,
.pneinline ol {
	list-style: none;
	margin: 0 0 24px 20px;
}

.pneinline ul {
	list-style: disc;
}

.pneinline ol {
	list-style: decimal;
}

.pneinline li > ul,
.pneinline li > ol {
	margin: 0 0 0 20px;
}

.pneinline img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}

.pneinline figure {
	margin: 0;
}

.pneinline fieldset {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 0 24px;
	padding: 11px 12px 0;
}


.pneinline legend {
	white-space: normal;
}

.pneinline button,
.pneinline input,
.pneinline select,
.pneinline textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

.pneinline button,
.pneinline input {
	line-height: normal;
}

.pneinline input,
.pneinline textarea {
	background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); 
}

.pneinline button,
.pneinline html input[type="button"],
.pneinline input[type="reset"],
.pneinline input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

.pneinline button[disabled],
.pneinline input[disabled] {
	cursor: default;
}

.pneinline input[type="checkbox"],
.pneinline input[type="radio"] {
	padding: 0;
}

.pneinline input[type="search"] {
	-webkit-appearance: textfield;
}

.pneinline input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.pneinline button::-moz-focus-inner,
.pneinline input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.pneinline textarea {
	overflow: auto;
	vertical-align: top;
}





.pneinline table
{
	font-size: 14px;
	line-height: normal;
	margin-bottom: 24px !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 8px !important;
	
	}
	
.pneinline td,
.pneoutline td

{
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 8px !important;
}



.pneinline caption,
.pneinline th,
.pneinline td {
	font-weight: normal;
	text-align: left;
}

.pneinline th {
	border-width: 1px 1px 1px 1px;
	font-weight: bold;
}

.pneinline td {
	border-width: 1px 1px 1px 1px;
}

.pneinline del {
	color: #767676;
}

.pneinline hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 23px;
}


.pneinline ::selection {
	background: #24890d;
	color: #fff;
	text-shadow: none;
}

.pneinline ::-moz-selection {
	background: #24890d;
	color: #fff;
	text-shadow: none;
}




.pneinline input,
.pneinline textarea {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #2b2b2b;
	padding: 8px 10px 7px;
}

.pneinline textarea {
	width: 100%;
}

.pneinline input:focus,
.pneinline textarea:focus {
	border: 1px solid rgba(0, 0, 0, 0.3);
	outline: 0;
}


.pneinline hr {
	background-color: rgba(0, 0, 0, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 10px;
	margin-top: 5px;
}


.pneinline input  {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	color: #2b2b2b;
	padding: 2px 2px 2px;
}


.pneinline blockquote  {
	color: #767676;
	font-size: 19px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2631578947;
	margin-bottom: 24px;
}

.PNEzoom320 {
    -ms-transform: scale(.592); 
    -ms-transform-origin: 0 0;
    -moz-transform: scale(.592);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.592);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(.592);
    -webkit-transform-origin: 0 0;
    transform: scale(.592);
    transform-origin: 0 0;  
}

.PNEzoom800 {
    -ms-transform: scale(1.482); 
    -ms-transform-origin: 0 0;
    -moz-transform: scale(1.482);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.482);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.482);
    -webkit-transform-origin: 0 0;
    transform: scale(1.482); 
    transform-origin: 0 0;  
}


